

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url("https://i.postimg.cc/VLYS4sn3/DALL-E-2022-11-17-18-49-20-a-mystical-messy-board-game-on-a-table-digital-art.png");
  background-repeat: no-repeat;
  background-size: cover;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1{
text-align: center;
color: antiquewhite;
}

h2{
text-align: center;
color: antiquewhite;
}

h5{
color: antiquewhite;
text-align: center;
}

h3{
color: antiquewhite;
text-align: center;
font-weight: bold;
}

.textstyle {
text-align: center;
color: antiquewhite;
}

.w-100 {
  width: 350px !important;
  height: 25%;
}
.carousel img {

  margin: auto;

}

p{
  color: antiquewhite;
  text-align: center;
  font-weight: bold;
}

img{
  width: 350px;
  height: 25%;
  image-rendering: crisp-edges;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
