fastapi[all]>=0.78.0
uvicorn[standard]>=0.17.6
# pymongo>=4.1.1
pytest
jwtdown-fastapi>=0.4.0
websockets
pymongo[srv]==4.2.0
python-jose[cryptography]==3.3.0
passlib[bcrypt]==1.7.4
python-multipart==0.0.5
